# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\3rd year group project\propertysale-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/.vscode